{{- $page := .Page -}}
{{- $folders := .Children -}}
{{- if gt (len $folders) 0 -}}
  <ul class="vault-nav__list">
    {{- range $folders }}
      {{- $folderURL := printf "%s/" .path | relURL -}}
      {{- $folderLabel := humanize .name -}}
      {{- with .indexPage }}
        {{- with .title }}
          {{- $folderLabel = . -}}
        {{- end -}}
      {{- end -}}
      {{- $isActive := hasPrefix $page.RelPermalink $folderURL -}}
      <li class="vault-nav__item">
        <a class="vault-nav__link{{ if $isActive }} is-active{{ end }}" href="{{ $folderURL }}">{{ $folderLabel }}</a>
      </li>
    {{- end -}}
  </ul>
{{- end -}}
